.container {
  // background-color: #24222a;
  // background-color: #40384e;
  background: linear-gradient(to bottom, #24222a, #40384e);
  padding: 32px 32px 0px 32px;
  position: relative;

  label {
    -webkit-tap-highlight-color: transparent; /* For mobile browsers */
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left_logo {
      display: flex;
      align-items: center;
      width: 68px;
    }
    .right_logo {
      display: flex;
      align-items: center;
    }

    div {
      width: 125px;

      img {
        width: 100%;
      }
    }
  }

  h4 {
    padding: 3px 16px 0px 16px;
    height: 45px;
    margin: auto;
    margin-top: 48px;
    margin-bottom: 32px;
    color: #fff;
    width: fit-content;
    border: 3px solid #c5b152;
    border-radius: 16px;
  }

  p {
    width: 75%;
    color: #f1f1f1;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
  }

  footer {
    margin-top: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    color: #f1f1f1;
    font-size: 12px;
    border-top: 1px solid #f1f1f13b;
  }
}

@media (max-width: 575.98px) {
  .container {
    padding: 16px;
    padding-bottom: 0px;

    nav {
      div {
        // width: 100px;
      }
    }

    p {
      width: 100%;
    }
  }
}

.form_box {
  margin: auto;
  margin-top: 32px;
  // width: 75%;

  label {
    color: #f1f1f1;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    width: fit-content;
  }

  .image_box {
    aspect-ratio: 1 / 1.2;
    width: 170px;
    border-radius: 16px;
    overflow: hidden;
    object-fit: cover;
    border: 2px solid #c5b152;

    img {
      width: 100%;
      transition: 0.2s;
    }
  }

  .label_text_box {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;

    @media (max-width: 575.98px) {
      font-size: 14px;
    }
  }

  button:disabled {
    background-color: gray !important;
    cursor: not-allowed;
  }
}

.label_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

@media (max-width: 575.98px) {
  .label_box {
    gap: 16px;
    justify-content: space-evenly;
  }

  .form_box {
    margin: auto;
    margin-top: 32px;
    width: 100%;

    label {
      font-weight: 500;
      font-size: 16px;
    }
  }
  .image_box {
    width: 100px !important;
  }
}

.name_and_phnone_box {
  margin: auto;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;

  h2 {
    color: #fff;
    font-weight: 800;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  label {
    cursor: unset;
    text-align: right;
    margin-left: auto;
    margin-bottom: 8px;
    padding-right: 95px;
    font-size: 18px;
  }

  input {
    width: 66%;
    margin-bottom: 16px;
    border-radius: 16px;
    height: 45px;
    outline: none;
    border: 3px solid #c5b152;
    background-color: transparent;
    color: #f1f1f1;
    font-size: 16px;
    padding: 16px;
    font-family: "Cairo", "Roboto", sans-serif;

    &:focus {
      border-color: #a39342;
    }
  }

  button {
    margin-top: 32px;
    background-color: #c5b152;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 16px;
    padding: 0px 16px 3px 16px;
    font-size: 22px;
    font-family: "Cairo", "Roboto", sans-serif;
    cursor: pointer;
    height: 45px;
    // width: 130px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;

    &:hover {
      background-color: #a39342;
    }
  }
}

@media (max-width: 575.98px) {
  .name_and_phnone_box {
    width: 100%;

    h2 {
      font-size: 22px;
    }

    label {
      padding-right: 22px;
      font-size: 16px;
    }
  }
}

//
.phone_box {
  width: 100%;
  display: flex;
  justify-content: center;

  input {
    margin: 0;
    width: 100%;
    // flex-grow: 0 !important;
    // flex-shrink: 0 !important;
  }
}
